* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(176, 206, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

.grid-content {
    margin: 1rem;
    align-items: center;
}

img {
    border-radius: 3rem;
    border-color: cadetblue;
    border-width: 0.2rem;
    border-style: solid;
    align-items: center;

}

table, th, td {
    border: 0.2rem solid;
    border-collapse: collapse;
    border-color: rgb(66, 165, 168);
    max-width: 50%;
}

tr:nth-child(even) {
    background-color: #95c9b0;
  }

a {
    color: rgb(220, 132, 9);
    text-decoration: none;
}

a:hover {
    color: red;
}

ul{
    list-style-type: square;
}

p {
    font-weight: bold;
}
