* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(176, 206, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-content {
    margin: 1rem;
    align-items: center;
    padding: 1rem;
}

img {
    border-radius: 3rem;
    border-color: cadetblue;
    border-width: 0.2rem;
    border-style: solid;
    align-items: center;

}

table, th, td {
    border: 0.2rem solid;
    border-collapse: collapse;
    border-color: rgb(66, 165, 168);
    max-width: 50%;
    margin: 5rem;
}

tr:nth-child(even) {
    background-color: #95c9b0;
  }

a {
    color: rgb(220, 132, 9);
    text-decoration: none;
    padding: 0.5rem;
}

a:hover {
    color: red;
}

ul{
    list-style-type: square;
}


h1 {
    color: rgb(8, 130, 146);
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

p {
    font-weight: bold;
    color:rgb(8, 130, 146);
    margin-bottom: auto;
}
